.mr-5{ margin-right: 5px !important; }
.mb-10{ margin-bottom: 10px; }

/* for images of media library model */
.modal .modal-body img {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  object-fit: contain;
  border: 2px solid transparent;
}

.gallery-image-item.active {
  border: 2px solid #ed1c24 !important;
}

.mobile-gallery-image-item.active {
  border: 2px solid #ed1c24 !important;
}
/* ends */